In [2]:
import pandas as pd

# Make sure to use quotation marks around the file and sheet names
df = pd.read_excel("C:/Users/mende/Documents/Education/Coding_Class/data_class_project_1/air bnb with edits.xlsx", sheet_name='air bnb csv with edits')

In [3]:
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,27-06-2008,f,t,f,6,"[""Elevator"", ""Cable TV"", ""Air conditioning"", ""...",...,2.0,3.0,115,30,730,2,15-05-2016,0.02,1,216
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,16-09-2008,t,t,t,1,"[""Host greets you"", ""Elevator"", ""Air condition...",...,1.0,1.0,71,30,366,27,2020-06-10 00:00:00,0.35,2,360
2,2732,Zen Life at the Beach,3041,Yoga Priestess,17-09-2008,f,t,f,1,"[""Cooking basics"", ""Host greets you"", ""Smoke a...",...,1.0,1.0,155,1,180,21,27-12-2019,0.18,2,337
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,25-09-2008,f,t,t,2,"[""Host greets you"", ""Air conditioning"", ""Carbo...",...,1.0,1.0,50,30,730,0,NaN,NaN,1,0
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03 00:00:00,t,t,f,2,"[""Lock on bedroom door"", ""Fire extinguisher"", ...",...,1.0,1.0,60,30,1125,310,29-04-2020,2.25,5,337

In [4]:
print(df['host_since'])

0                  27-06-2008
1                  16-09-2008
2                  17-09-2008
3                  25-09-2008
4         2009-05-03 00:00:00
                 ...
158244    2016-05-04 00:00:00
158245    2016-05-04 00:00:00
158246    2016-05-04 00:00:00
158247    2016-05-04 00:00:00
158248             20-05-2016
Name: host_since, Length: 158249, dtype: object

In [5]:
# Assuming your DataFrame is named df and the column is 'host_since'
df['host_since'] = pd.to_datetime(df['host_since'], errors='coerce', dayfirst=True)

# Now, if you want to format it to a specific string format, you can use the dt.strftime method
df['host_since'] = df['host_since'].dt.strftime('%Y-%m-%d')

In [6]:
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[""Elevator"", ""Cable TV"", ""Air conditioning"", ""...",...,2.0,3.0,115,30,730,2,15-05-2016,0.02,1,216
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[""Host greets you"", ""Elevator"", ""Air condition...",...,1.0,1.0,71,30,366,27,2020-06-10 00:00:00,0.35,2,360
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[""Cooking basics"", ""Host greets you"", ""Smoke a...",...,1.0,1.0,155,1,180,21,27-12-2019,0.18,2,337
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[""Host greets you"", ""Air conditioning"", ""Carbo...",...,1.0,1.0,50,30,730,0,NaN,NaN,1,0
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[""Lock on bedroom door"", ""Fire extinguisher"", ...",...,1.0,1.0,60,30,1125,310,29-04-2020,2.25,5,337

In [7]:
df_sorted = df.sort_values(by='host_since', ascending=True)
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[""Elevator"", ""Cable TV"", ""Air conditioning"", ""...",...,2.0,3.0,115,30,730,2,15-05-2016,0.02,1,216
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[""Host greets you"", ""Elevator"", ""Air condition...",...,1.0,1.0,71,30,366,27,2020-06-10 00:00:00,0.35,2,360
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[""Cooking basics"", ""Host greets you"", ""Smoke a...",...,1.0,1.0,155,1,180,21,27-12-2019,0.18,2,337
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[""Host greets you"", ""Air conditioning"", ""Carbo...",...,1.0,1.0,50,30,730,0,NaN,NaN,1,0
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[""Lock on bedroom door"", ""Fire extinguisher"", ...",...,1.0,1.0,60,30,1125,310,29-04-2020,2.25,5,337

In [8]:
print(df['amenities'])

0         ["Elevator", "Cable TV", "Air conditioning", "...
1         ["Host greets you", "Elevator", "Air condition...
2         ["Cooking basics", "Host greets you", "Smoke a...
3         ["Host greets you", "Air conditioning", "Carbo...
4         ["Lock on bedroom door", "Fire extinguisher", ...
                                ...
158244    ["Hot water", "Wifi", "Shampoo", "Smoke alarm"...
158245    ["Hot water", "Wifi", "Shampoo", "Fire extingu...
158246    ["Hot water", "Wifi", "Shampoo", "Fire extingu...
158247    ["Hot water", "Wifi", "Shampoo", "Smoke alarm"...
158248    ["Wifi", "Breakfast", "Gym", "Shampoo", "Smoke...
Name: amenities, Length: 158249, dtype: object

In [9]:
import ast

# Sample DataFrame creation for demonstration
# df = pd.DataFrame({'amenities': [...]})  # Your DataFrame

# Step 1: Convert the string representation of the list to an actual list safely
def safe_literal_eval(x):
    try:
        return ast.literal_eval(x)
    except (ValueError, SyntaxError):
        return []  # Return an empty list if there's an error

df['amenities'] = df['amenities'].apply(safe_literal_eval)

# Step 2: Get unique amenities
unique_amenities = list(set(amenity for sublist in df['amenities'] for amenity in sublist))

# Step 3: Create a DataFrame for the amenities
amenities_df = pd.DataFrame(0, index=df.index, columns=unique_amenities)

# Step 4: Populate the DataFrame with 'Yes'/'No'
for amenity in unique_amenities:
    amenities_df[amenity] = df['amenities'].apply(lambda x: 'Yes' if amenity in x else 'No')

# Step 5: Concatenate the original DataFrame with the new amenities DataFrame
df = pd.concat([df, amenities_df], axis=1)

In [10]:
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,Dove body soap,lihljkhkljhklj shampoo,Shea Logix body soap,Pergola,"Stainless Steel refrigerator, freezer on top refrigerator on the bottom , not pictured (New refrigerator installed on1/2020) refrigerator",BOSE sound system with Bluetooth and aux,Onsite restaurant â€” Klein's,"50"" HDTV with Netflix, Amazon Prime Video, HBO Max, premium cable",Toaster oven only oven,Ceiling fan
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[Elevator, Cable TV, Air conditioning, Carbon ...",...,No,No,No,No,No,No,No,No,No,No
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[Host greets you, Elevator, Air conditioning, ...",...,No,No,No,No,No,No,No,No,No,No
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[Cooking basics, Host greets you, Smoke alarm,...",...,No,No,No,No,No,No,No,No,No,No
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[Host greets you, Air conditioning, Carbon mon...",...,No,No,No,No,No,No,No,No,No,No
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[Lock on bedroom door, Fire extinguisher, Carb...",...,No,No,No,No,No,No,No,No,No,No

In [11]:
# Sample DataFrame creation for demonstration
# df = pd.DataFrame({...})  # Your DataFrame

# Step 1: Identify columns that contain "shampoo"
shampoo_columns = [col for col in df.columns if 'shampoo' in col.lower()]

# Step 2: Create a new column titled "shampoo"
df['shampoo'] = df[shampoo_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original shampoo columns if needed
df.drop(columns=shampoo_columns, inplace=True)
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,Dove body soap,Shea Logix body soap,Pergola,"Stainless Steel refrigerator, freezer on top refrigerator on the bottom , not pictured (New refrigerator installed on1/2020) refrigerator",BOSE sound system with Bluetooth and aux,Onsite restaurant â€” Klein's,"50"" HDTV with Netflix, Amazon Prime Video, HBO Max, premium cable",Toaster oven only oven,Ceiling fan,shampoo
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[Elevator, Cable TV, Air conditioning, Carbon ...",...,No,No,No,No,No,No,No,No,No,Yes
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[Host greets you, Elevator, Air conditioning, ...",...,No,No,No,No,No,No,No,No,No,Yes
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[Cooking basics, Host greets you, Smoke alarm,...",...,No,No,No,No,No,No,No,No,No,Yes
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[Host greets you, Air conditioning, Carbon mon...",...,No,No,No,No,No,No,No,No,No,No
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[Lock on bedroom door, Fire extinguisher, Carb...",...,No,No,No,No,No,No,No,No,No,Yes

In [12]:
wifi_columns = [col for col in df.columns if 'wifi' in col.lower()]

# Step 2: Create a new column titled "wifi"
df['wifi'] = df[wifi_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original wifi columns if needed
df.drop(columns=wifi_columns, inplace=True)

In [13]:
fan_columns = [col for col in df.columns if 'fan' in col.lower()]

# Step 2: Create a new column titled "fan"
df['fan'] = df[fan_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original fan columns if needed
df.drop(columns=fan_columns, inplace=True)

In [14]:
pool_columns = [col for col in df.columns if 'pool' in col.lower() or 'hot tub' in col.lower()]

# Step 2: Create a new column titled "pool_and/or_hot_tub"
df['pool_and/or_hot_tub'] = df[pool_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original pool and hot tub columns if needed
df.drop(columns=pool_columns, inplace=True)

In [15]:
stove_columns = [col for col in df.columns if 'stove' in col.lower()]

# Step 2: Create a new column titled "stove"
df['stove'] = df[stove_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original stove columns if needed
df.drop(columns=stove_columns, inplace=True)

In [16]:
tv_columns = [col for col in df.columns if 'tv' in col.lower()]

# Step 2: Create a new column titled "tv"
df['tv'] = df[tv_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original tv columns if needed
df.drop(columns=tv_columns, inplace=True)

In [17]:
toiletries_columns = [col for col in df.columns if 'conditioner' in col.lower() or 'shampoo' in col.lower() or 'toiletries' in col.lower()]

# Step 2: Create a new column titled "toiletries"
df['toiletries'] = df[toiletries_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original toiletries-related columns if needed
df.drop(columns=toiletries_columns, inplace=True)

In [18]:
soap_columns = [col for col in df.columns if 'soap' in col.lower()]

# Step 2: Update the "toiletries" column to include values from soap columns
df['toiletries'] = df.apply(lambda row: 'Yes' if row['toiletries'] == 'Yes' or any(row[soap_columns] == 'Yes') else 'No', axis=1)

# Step 3: Drop the original soap columns if needed
df.drop(columns=soap_columns, inplace=True)
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,"Stainless Steel refrigerator, freezer on top refrigerator on the bottom , not pictured (New refrigerator installed on1/2020) refrigerator",BOSE sound system with Bluetooth and aux,Onsite restaurant â€” Klein's,Toaster oven only oven,wifi,fan,pool_and/or_hot_tub,stove,tv,toiletries
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[Elevator, Cable TV, Air conditioning, Carbon ...",...,No,No,No,No,Yes,No,Yes,No,Yes,Yes
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[Host greets you, Elevator, Air conditioning, ...",...,No,No,No,No,Yes,No,Yes,Yes,No,Yes
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[Cooking basics, Host greets you, Smoke alarm,...",...,No,No,No,No,Yes,No,No,No,No,Yes
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[Host greets you, Air conditioning, Carbon mon...",...,No,No,No,No,Yes,No,No,No,Yes,No
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[Lock on bedroom door, Fire extinguisher, Carb...",...,No,No,No,No,Yes,No,No,No,Yes,Yes

In [19]:
fridge_columns = [col for col in df.columns if 'fridge' in col.lower()]

# Step 2: Create a new column titled "fridge"
df['fridge'] = df[fridge_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original fridge columns if needed
df.drop(columns=fridge_columns, inplace=True)
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,accommodates,amenities,...,BOSE sound system with Bluetooth and aux,Onsite restaurant â€” Klein's,Toaster oven only oven,wifi,fan,pool_and/or_hot_tub,stove,tv,toiletries,fridge
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,6,"[Elevator, Cable TV, Air conditioning, Carbon ...",...,No,No,No,Yes,No,Yes,No,Yes,Yes,No
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,1,"[Host greets you, Elevator, Air conditioning, ...",...,No,No,No,Yes,No,Yes,Yes,No,Yes,No
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,1,"[Cooking basics, Host greets you, Smoke alarm,...",...,No,No,No,Yes,No,No,No,No,Yes,No
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,2,"[Host greets you, Air conditioning, Carbon mon...",...,No,No,No,Yes,No,No,No,Yes,No,No
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,2,"[Lock on bedroom door, Fire extinguisher, Carb...",...,No,No,No,Yes,No,No,No,Yes,Yes,No

In [20]:
refrigerator_columns = [col for col in df.columns if 'refrigerator' in col.lower()]

# Step 2: Update the "fridge" column to include values from refrigerator columns
df['fridge'] = df.apply(lambda row: 'Yes' if row['fridge'] == 'Yes' or any(row[refrigerator_columns] == 'Yes') else 'No', axis=1)

# Step 3: Drop the original refrigerator columns if needed
df.drop(columns=refrigerator_columns, inplace=True)

In [21]:
parking_columns = [col for col in df.columns if 'parking' in col.lower()]

# Step 2: Create a new column titled "parking"
df['parking'] = df[parking_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original parking columns if needed
df.drop(columns=parking_columns, inplace=True)

In [22]:
carport_columns = [col for col in df.columns if 'carport' in col.lower()]

# Step 2: Update the "parking" column to include values from carport columns
df['parking'] = df.apply(lambda row: 'Yes' if row['parking'] == 'Yes' or any(row[carport_columns] == 'Yes') else 'No', axis=1)

# Step 3: Drop the original carport columns if needed
df.drop(columns=carport_columns, inplace=True)

In [23]:
oven_stove_columns = [col for col in df.columns if 'oven' in col.lower() or 'stove' in col.lower()]

# Step 2: Create a new column titled "oven_stove"
df['oven_stove'] = df[oven_stove_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original oven and stove columns if needed
df.drop(columns=oven_stove_columns, inplace=True)

In [24]:
bath_shower_columns = [col for col in df.columns if 'shower' in col.lower() or 'bath' in col.lower()]

# Step 2: Create a new column titled "bath_shower"
df['bath_shower'] = df[bath_shower_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original shower and bath columns if needed
df.drop(columns=bath_shower_columns, inplace=True)

In [25]:
bath_shower_columns = [col for col in df.columns if 'shower' in col.lower() or 'bath' in col.lower()]

# Step 2: Create a new column titled "bath_shower"
df['bath_shower'] = df[bath_shower_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original shower and bath columns if needed
df.drop(columns=bath_shower_columns, inplace=True)

In [26]:
washer_dryer_columns = [col for col in df.columns if ('washer' in col.lower() or 'dryer' in col.lower()) and 'dishwasher' not in col.lower()]

# Step 2: Create a new column titled "washer_dryer"
df['washer_dryer'] = df[washer_dryer_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original washer and dryer columns if needed
df.drop(columns=washer_dryer_columns, inplace=True)

In [27]:
kitchen_keywords = ['food processor', 'utensils', 'plates', 'cups', 'rice maker', 'bbq grill', 'kitchen']
kitchen_columns = [col for col in df.columns if any(keyword in col.lower() for keyword in kitchen_keywords)]

# Step 2: Create a new column titled "kitchen"
df['kitchen'] = df[kitchen_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original kitchen-related columns if needed
df.drop(columns=kitchen_columns, inplace=True)

In [28]:
speaker_keywords = ['dvd', 'bluetooth', 'aux', 'music']
speaker_columns = [col for col in df.columns if any(keyword in col.lower() for keyword in speaker_keywords)]

# Step 2: Create a new column titled "speaker"
df['speaker'] = df[speaker_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original speaker-related columns if needed
df.drop(columns=speaker_columns, inplace=True)

In [29]:
coffee_columns = [col for col in df.columns if 'coffee' in col.lower()]

# Step 2: Create a new column titled "coffee"
df['coffee'] = df[coffee_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original coffee-related columns if needed
df.drop(columns=coffee_columns, inplace=True)

In [30]:
breakfast_columns = [col for col in df.columns if 'breakfast' in col.lower()]

# Step 2: Create a new column titled "breakfast"
df['breakfast'] = df[breakfast_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original breakfast-related columns if needed
df.drop(columns=breakfast_columns, inplace=True)

In [31]:
dining_columns = [col for col in df.columns if 'restaurant' in col.lower() or 'bar' in col.lower()]

# Step 2: Create a new column titled "nearby_dining"
df['nearby_dining'] = df[dining_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original dining-related columns if needed
df.drop(columns=dining_columns, inplace=True)

In [32]:
sound_columns = [col for col in df.columns if 'sound' in col.lower()]

# Step 2: Update the "speaker" column to include values from sound columns
df['speaker'] = df.apply(lambda row: 'Yes' if row['speaker'] == 'Yes' or any(row[sound_columns] == 'Yes') else 'No', axis=1)

# Step 3: Drop the original sound columns if needed
df.drop(columns=sound_columns, inplace=True)

In [33]:
smart_home_columns = [col for col in df.columns if 'alexa' in col.lower() or 'google' in col.lower()]

# Step 2: Create a new column titled "smart_home"
df['smart_home'] = df[smart_home_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original smart home-related columns if needed
df.drop(columns=smart_home_columns, inplace=True)

In [34]:
gym_columns = [col for col in df.columns if 'weights' in col.lower() or 'gym' in col.lower() or 'recs' in col.lower()]

# Step 2: Create a new column titled "gym"
df['gym'] = df[gym_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original gym-related columns if needed
df.drop(columns=gym_columns, inplace=True)

In [35]:
gaming_console_columns = [col for col in df.columns if 'wii' in col.lower() or 'xbox' in col.lower() or 'nintendo' in col.lower()]

# Step 2: Create a new column titled "gaming_consoles"
df['gaming_consoles'] = df[gaming_console_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original gaming console-related columns if needed
df.drop(columns=gaming_console_columns, inplace=True)

In [36]:
garage_columns = [col for col in df.columns if 'garage' in col.lower()]

# Step 2: Update the "parking" column to include values from garage columns
df['parking'] = df.apply(lambda row: 'Yes' if row['parking'] == 'Yes' or any(row[garage_columns] == 'Yes') else 'No', axis=1)

# Step 3: Drop the original garage columns if needed
df.drop(columns=garage_columns, inplace=True)

In [37]:
columns_to_drop = [col for col in df.columns if 
                   'ethernet connection' in col.lower() or 
                   'phone' in col.lower() or 
                   'lock on bedroom door' in col.lower()]

# Step 2: Drop the identified columns
df.drop(columns=columns_to_drop, inplace=True)

In [38]:
gym_columns = [col for col in df.columns if 'treadmill' in col.lower() or 'fitness' in col.lower() or 'workout' in col.lower()]

# Step 2: Create a new column titled "gym"
df['gym'] = df[gym_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original gym-related columns if needed
df.drop(columns=gym_columns, inplace=True)

In [39]:
lat_column = 'latitude'  # Replace with your actual latitude column name
long_column = 'longitude'  # Replace with your actual longitude column name

# Step 2: Create a new column titled "lat_long"
df['lat_long'] = df[lat_column].astype(str) + ', ' + df[long_column].astype(str)

# Step 3: Optionally drop the original latitude and longitude columns if needed
df.drop(columns=[lat_column, long_column], inplace=True)

In [40]:
linens_columns = [col for col in df.columns if 'sheets' in col.lower() or 'linens' in col.lower() or 'blankets' in col.lower()]

# Step 2: Create a new column titled "linens"
df['linens'] = df[linens_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original linens-related columns if needed
df.drop(columns=linens_columns, inplace=True)

In [41]:
entertainment_columns = [col for col in df.columns if 'blue-ray' in col.lower() or 'entertainment' in col.lower() or 'netflix' in col.lower()]

# Step 2: Create a new column titled "entertainment"
df['entertainment'] = df[entertainment_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original entertainment-related columns if needed
df.drop(columns=entertainment_columns, inplace=True)

In [42]:
iron_columns = [col for col in df.columns if 'iron' in col.lower()]

# Step 2: Create a new column titled "iron"
df['iron'] = df[iron_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original iron-related columns if needed
df.drop(columns=iron_columns, inplace=True)

In [43]:
ac_columns = [col for col in df.columns if 'ac' in col.lower() or 'central air' in col.lower()]

# Step 2: Create a new column titled "AC"
df['AC'] = df[ac_columns].apply(lambda row: 'Yes' if any(row == 'Yes') else 'No', axis=1)

# Step 3: Drop the original AC-related columns if needed
df.drop(columns=ac_columns, inplace=True)

In [44]:
# Check for missing data in each column
missing_data = df.isnull().sum()
print(missing_data)

id                0
name             33
host_id           0
host_name        30
host_since       29
                 ..
lat_long          0
linens            0
entertainment     0
iron              0
AC                0
Length: 242, dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158249 entries, 0 to 158248
Columns: 242 entries, id to AC
dtypes: float64(3), int64(8), object(231)
memory usage: 292.2+ MB

In [46]:
# Check if there are any missing values in the DataFrame
has_missing = df.isna().any().any()
print("Missing data present:", has_missing)

Missing data present: True

In [47]:

excel_file_path = "C:/Users/mende/Documents/Education/Coding_Class/data_class_project_1/air_bnb_with_edits.xlsx"
df.to_excel(excel_file_path, index=False)  # Set index=False to not include the DataFrame index in the Excel file

print(f"Excel file generated successfully at {excel_file_path}")

Excel file generated successfully at C:/Users/mende/Documents/Education/Coding_Class/data_class_project_1/air_bnb_with_edits.xlsx

In [2]:
import pandas as pd

# Make sure to use quotation marks around the file and sheet names
df = pd.read_excel("C:/Users/mende/Documents/Education/Coding_Class/data_class_project_1/air_bnb_with_edits.xlsx", sheet_name='Sheet1')

In [4]:
entertainment_columns = [
    'Game console', 'Blu-Ray player', 'iPod dock', 'Tivo', 
    'Record player', 'Foosball table', 'Movie Collection'
]

# Create the 'entertainment_options' column by joining non-null values from these columns
df['entertainment_options'] = df[entertainment_columns].apply(
    lambda x: ', '.join(x.dropna().index[x == 1]), axis=1
)

# Drop the original columns if theyâ€™re no longer needed
df.drop(columns=entertainment_columns, inplace=True)

In [5]:
dining_columns = [
    'Dining area for 4 people', 'Dining area for 6 people', 
    'Dining area for 8 people', 'Dining area for 12 people'
]

# Create the 'dining_options' column by joining non-null values from these columns
df['dining_options'] = df[dining_columns].apply(
    lambda x: ', '.join(x.dropna().index[x == 1]), axis=1
)

# Drop the original columns if theyâ€™re no longer needed
df.drop(columns=dining_columns, inplace=True)

In [13]:
outdoor_columns = ['Waterfront', 'Courtyard', 'Veranda', 'Sun deck', 'Pond']

# Create the 'outdoor' column by joining non-null values from these columns
df['outdoor'] = df[outdoor_columns].apply(
    lambda x: ', '.join(x.dropna().index[x == 1]), axis=1
)

# Drop the original columns if theyâ€™re no longer needed
df.drop(columns=outdoor_columns, inplace=True)

KeyError: "['Waterfront', 'Courtyard', 'Veranda', 'Sun deck', 'Pond'] not in index"

In [7]:
smart_home_security_columns = ['Security system', 'Security cameras', 'Nest thermometer', 'Smart home technology']

# Create the 'smart_home_and_security' column by joining non-null values from these columns
df['smart_home_and_security'] = df[smart_home_security_columns].apply(
    lambda x: ', '.join(x.dropna().index[x == 1]), axis=1
)

# Drop the original columns if theyâ€™re no longer needed
df.drop(columns=smart_home_security_columns, inplace=True)

In [12]:
for column in df.columns:
    print(column)

id
name
host_id
host_name
host_since
host_is_superhost
host_identity_verified
instant_bookable
State
neighbourhood_group
neighbourhood
property_type
room_type
bedrooms
beds
price
minimum_nights
maximum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365
Hangers
Doorman
Fountain
EV charger
Boat
Video Games
Patio
Bread maker
Dining table
Outlet covers
Sun loungers
Concierge
Bottled water
Building staff
Snorkeling equipment
Turndown service
Media room
Outdoor furniture
Fire pit
Essentials
Wine glasses
Tennis club
Mosquito net
Elevator
Microwave
Outdoor seating
Dumbwaiter
Dishwasher
Bose stereo
Ice Cooler
Stair gates
Lounge chairs
Booster seat
Airport shuttle
Solar power
Ping pong table
Day bed
Room-darkening shades
Radiant heating
Steam room
Lanai
Clothing storage
Wine cooler
Conference center
Crib
Internet
Conference room
Hammock
Arts and Crafts
Hot water
Copier
Wine storage
Slippers
Spa
Baby safety gates
Gated community
Patio or balcony
Wine cellar
Gas grill
Smart lock
Dining area for 16 people
Bedroom comforts
Hot water kettle
Cleaning before checkout
Long term stays allowed
Dining area for 14 people
Alarm system
Air hockey table
Games
Telescope
Laundromat nearby
Golf cart
Tennis court
Clothing storage: closet
Sun bed
Bidet
Gazebo
Grotto
Air conditioning
CD player
Gated property
Dining area
Limited housekeeping â€” on request
First aid kit
Spa equipment
Art studio
Jetted tub
Home theater
Housekeeping
Canoe
Pets allowed
Ski-in/Ski-out
Poker table
Parasols
Mountain view
Balcony
Walk-in pantry
Dual vanity
Room service
Baby equipment
Massage room
Childrenâ€™s dinnerware
Host greets you
Piano
Exercise equipment
Kayaks
Smoking allowed
Suitable for events
Sauna
Playhouse
Generator
Children's toys
Table corner guards
Toaster
Water Cooler
Portable air conditioning
Shuffleboard
Baby monitor
Babysitter recommendations
Massage table
Guitar
Keypad
Cleaning products
Self check-in
Central heating
Portable heater
Private entrance
Water Filtration System
Carbon monoxide alarm
Single level home
Private living room
Basketball court
Spa room
Scanner
Desk
Library
Lounge area
Laundry services
Putting green
Lockbox
Yoga studio
Play Room
Window guards
Bicycle
Game room
Office
Freezer
Heating
Cooking basics
Outdoor dining area
Baking sheet
Printer
Table Top Grill
Childrenâ€™s books and toys
Dishes and silverware
Pilates room
Stand up paddle board
Heat lamps
Safe
Rooftop
Juicer
Walk in closet
Dining area for 10 people
High chair
House bikes
Luggage dropoff allowed
Meditation room
Changing table
Electric blinds
Smoke alarm
Blender
Garden
Board games
Boogie boards
Fire extinguisher
Pergola
wifi
fan
pool_and/or_hot_tub
tv
toiletries
fridge
parking
oven_stove
washer_dryer
kitchen
speaker
coffee
breakfast
nearby_dining
smart_home
gym
gaming_consoles
lat_long
linens
entertainment
iron
AC
entertainment_options
dining_options
outdoor
smart_home_and_security

In [15]:
additional_kitchen_columns = ['Freezer', 'Baking sheet', 'Cleaning products', 'Dishwasher', 'oven_stove']

# Update the 'kitchen' column by appending features that are marked with 1
df['kitchen'] = df.apply(
    lambda row: row['kitchen'] + ', ' + ', '.join([col for col in additional_kitchen_columns if row[col] == 1]) 
    if pd.notna(row['kitchen']) else ', '.join([col for col in additional_kitchen_columns if row[col] == 1]), 
    axis=1
)

# Drop the original additional kitchen-related columns if theyâ€™re no longer needed
df.drop(columns=additional_kitchen_columns, inplace=True)

In [16]:
for column in df.columns:
    print(column)

id
name
host_id
host_name
host_since
host_is_superhost
host_identity_verified
instant_bookable
State
neighbourhood_group
neighbourhood
property_type
room_type
bedrooms
beds
price
minimum_nights
maximum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365
Hangers
Doorman
Fountain
EV charger
Boat
Video Games
Patio
Bread maker
Dining table
Outlet covers
Sun loungers
Concierge
Bottled water
Building staff
Snorkeling equipment
Turndown service
Media room
Outdoor furniture
Fire pit
Essentials
Wine glasses
Tennis club
Mosquito net
Elevator
Microwave
Outdoor seating
Dumbwaiter
Bose stereo
Ice Cooler
Stair gates
Lounge chairs
Booster seat
Airport shuttle
Solar power
Ping pong table
Day bed
Room-darkening shades
Radiant heating
Steam room
Lanai
Clothing storage
Wine cooler
Conference center
Crib
Internet
Conference room
Hammock
Arts and Crafts
Hot water
Copier
Wine storage
Slippers
Spa
Baby safety gates
Gated community
Patio or balcony
Wine cellar
Gas grill
Smart lock
Dining area for 16 people
Bedroom comforts
Hot water kettle
Cleaning before checkout
Long term stays allowed
Dining area for 14 people
Alarm system
Air hockey table
Games
Telescope
Laundromat nearby
Golf cart
Tennis court
Clothing storage: closet
Sun bed
Bidet
Gazebo
Grotto
Air conditioning
CD player
Gated property
Dining area
Limited housekeeping â€” on request
First aid kit
Spa equipment
Art studio
Jetted tub
Home theater
Housekeeping
Canoe
Pets allowed
Ski-in/Ski-out
Poker table
Parasols
Mountain view
Balcony
Walk-in pantry
Dual vanity
Room service
Baby equipment
Massage room
Childrenâ€™s dinnerware
Host greets you
Piano
Exercise equipment
Kayaks
Smoking allowed
Suitable for events
Sauna
Playhouse
Generator
Children's toys
Table corner guards
Toaster
Water Cooler
Portable air conditioning
Shuffleboard
Baby monitor
Babysitter recommendations
Massage table
Guitar
Keypad
Self check-in
Central heating
Portable heater
Private entrance
Water Filtration System
Carbon monoxide alarm
Single level home
Private living room
Basketball court
Spa room
Scanner
Desk
Library
Lounge area
Laundry services
Putting green
Lockbox
Yoga studio
Play Room
Window guards
Bicycle
Game room
Office
Heating
Cooking basics
Outdoor dining area
Printer
Table Top Grill
Childrenâ€™s books and toys
Dishes and silverware
Pilates room
Stand up paddle board
Heat lamps
Safe
Rooftop
Juicer
Walk in closet
Dining area for 10 people
High chair
House bikes
Luggage dropoff allowed
Meditation room
Changing table
Electric blinds
Smoke alarm
Blender
Garden
Board games
Boogie boards
Fire extinguisher
Pergola
wifi
fan
pool_and/or_hot_tub
tv
toiletries
fridge
parking
washer_dryer
kitchen
speaker
coffee
breakfast
nearby_dining
smart_home
gym
gaming_consoles
lat_long
linens
entertainment
iron
AC
entertainment_options
dining_options
outdoor
smart_home_and_security

In [21]:
df['ac'] = df[['AC', 'Portable air conditioning', 'Air conditioning']].any(axis=1).astype(int)
df['heating'] = df[['Heating', 'Central heating', 'Radiant heating', 'Portable heater']].any(axis=1).astype(int)
df['Outdoor Amenities'] = df[['Patio', 'Balcony', 'Outdoor dining area', 'Outdoor seating', 
                               'Garden', 'Gazebo', 'Fire pit', 'Sun loungers', 
                               'Sun bed', 'Pergola']].any(axis=1).astype(int)
df['Entertainment'] = df[['tv', 'Game room', 'Media room', 'Home theater', 
                           'Video Games', 'Board games', 'Guitar', 'Piano']].any(axis=1).astype(int)
df['Kitchen and Dining'] = df[['Juicer', 'Blender', 'Toaster', 'kitchen', 
                                 'Dishes and silverware', 'Dining area', 
                                 'Dining area for 10 people', 
                                 'Dining area for 14 people', 
                                 'Dining area for 16 people']].any(axis=1).astype(int)
df['Safety and Security'] = df[['Smoke alarm', 'Carbon monoxide alarm', 
                                 'Alarm system', 'Smart lock', 
                                 'Gated community', 'Gated property']].any(axis=1).astype(int)
df['Laundry Services'] = df[['Laundry services', 'Laundromat nearby']].any(axis=1).astype(int)
df['Child-Friendly Amenities'] = df[['High chair', 'Crib', 'Baby equipment', 
                                      'Baby monitor', 'Childrenâ€™s books and toys', 
                                      'Childrenâ€™s dinnerware', 
                                      'Table corner guards', 'Baby safety gates']].any(axis=1).astype(int)

# Dropping the original columns that have been merged
df = df.drop(columns=['AC', 'Portable air conditioning', 'Air conditioning', 
                     'Heating', 'Central heating', 'Radiant heating', 
                     'Portable heater', 'Patio', 'Balcony', 
                     'Outdoor dining area', 'Outdoor seating', 
                     'Garden', 'Gazebo', 'Fire pit', 
                     'Sun loungers', 'Sun bed', 'Pergola', 
                     'tv', 'Game room', 'Media room', 
                     'Home theater', 'Video Games', 'Board games', 
                     'Guitar', 'Piano', 'Juicer', 'Blender', 
                     'Toaster', 'kitchen', 'Dishes and silverware', 
                     'Dining area', 'Dining area for 10 people', 
                     'Dining area for 14 people', 
                     'Dining area for 16 people', 'Smoke alarm', 
                     'Carbon monoxide alarm', 'Alarm system', 
                     'Smart lock', 'Gated community', 'Gated property', 
                     'Laundry services', 'Laundromat nearby', 
                     'High chair', 'Crib', 'Baby equipment', 
                     'Baby monitor', 'Childrenâ€™s books and toys', 
                     'Childrenâ€™s dinnerware', 'Table corner guards', 
                     'Baby safety gates'])

In [22]:
for column in df.columns:
    print(column)

id
name
host_id
host_name
host_since
host_is_superhost
host_identity_verified
instant_bookable
State
neighbourhood_group
neighbourhood
property_type
room_type
bedrooms
beds
price
minimum_nights
maximum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365
Hangers
Doorman
Fountain
EV charger
Boat
Bread maker
Dining table
Outlet covers
Concierge
Bottled water
Building staff
Snorkeling equipment
Turndown service
Outdoor furniture
Essentials
Wine glasses
Tennis club
Mosquito net
Elevator
Microwave
Dumbwaiter
Bose stereo
Ice Cooler
Stair gates
Lounge chairs
Booster seat
Airport shuttle
Solar power
Ping pong table
Day bed
Room-darkening shades
Steam room
Lanai
Clothing storage
Wine cooler
Conference center
Internet
Conference room
Hammock
Arts and Crafts
Hot water
Copier
Wine storage
Slippers
Spa
Patio or balcony
Wine cellar
Gas grill
Bedroom comforts
Hot water kettle
Cleaning before checkout
Long term stays allowed
Air hockey table
Games
Telescope
Golf cart
Tennis court
Clothing storage: closet
Bidet
Grotto
CD player
Limited housekeeping â€” on request
First aid kit
Spa equipment
Art studio
Jetted tub
Housekeeping
Canoe
Pets allowed
Ski-in/Ski-out
Poker table
Parasols
Mountain view
Walk-in pantry
Dual vanity
Room service
Massage room
Host greets you
Exercise equipment
Kayaks
Smoking allowed
Suitable for events
Sauna
Playhouse
Generator
Children's toys
Water Cooler
Shuffleboard
Babysitter recommendations
Massage table
Keypad
Self check-in
Private entrance
Water Filtration System
Single level home
Private living room
Basketball court
Spa room
Scanner
Desk
Library
Lounge area
Putting green
Lockbox
Yoga studio
Play Room
Window guards
Bicycle
Office
Cooking basics
Printer
Table Top Grill
Pilates room
Stand up paddle board
Heat lamps
Safe
Rooftop
Walk in closet
House bikes
Luggage dropoff allowed
Meditation room
Changing table
Electric blinds
Boogie boards
Fire extinguisher
wifi
fan
pool_and/or_hot_tub
toiletries
fridge
parking
washer_dryer
speaker
coffee
breakfast
nearby_dining
smart_home
gym
gaming_consoles
lat_long
linens
entertainment
iron
entertainment_options
dining_options
outdoor
smart_home_and_security
ac
heating
Outdoor Amenities
Entertainment
Kitchen and Dining
Safety and Security
Laundry Services
Child-Friendly Amenities

In [27]:
df.head(10)

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,State,neighbourhood_group,...,outdoor,smart_home_and_security,ac,heating,Outdoor Amenities,Entertainment,Kitchen and Dining,Safety and Security,Laundry Services,Child-Friendly Amenities
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
5,5729,Zen Room with Floating Bed near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
6,5843,Artist Oasis near Venice Beach w/ Beautiful Ga...,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
7,6931,Beau Furn Rm Dres Rm/Wlk-In Clst Terr. Runyon Vw,3008,Chas.,2008-09-16,t,t,t,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
8,7874,Sunny and Private 2nd story Queen Bedroom,21700,Henry,2009-06-15,f,t,t,California,Los Angeles,...,,,1,1,1,1,1,1,1,1
9,7992,"Quiet,Walkable Area/Sanitized/CozySpot",22363,Tom,2009-06-19,t,t,f,California,Los Angeles,...,,,1,1,1,1,1,1,1,1

In [30]:
amenity_columns = ['ac', 'heating', 'Outdoor Amenities', 'Entertainment', 
                   'Kitchen and Dining', 'Safety and Security', 
                   'Laundry Services', 'Child-Friendly Amenities']

# Replace values in the specified columns
df[amenity_columns] = df[amenity_columns].replace({1: 'Yes', 0: 'No'})

# Optionally, print the updated DataFrame to verify the ch
df.head(20)

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,State,neighbourhood_group,...,outdoor,smart_home_and_security,ac,heating,Outdoor Amenities,Entertainment,Kitchen and Dining,Safety and Security,Laundry Services,Child-Friendly Amenities
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
5,5729,Zen Room with Floating Bed near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
6,5843,Artist Oasis near Venice Beach w/ Beautiful Ga...,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
7,6931,Beau Furn Rm Dres Rm/Wlk-In Clst Terr. Runyon Vw,3008,Chas.,2008-09-16,t,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
8,7874,Sunny and Private 2nd story Queen Bedroom,21700,Henry,2009-06-15,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
9,7992,"Quiet,Walkable Area/Sanitized/CozySpot",22363,Tom,2009-06-19,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
10,9140,City Place Lofts,28350,Wendell,2009-07-29,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
11,9376,"Bright Apt, walk to Venice Beach",30319,Cristina,2009-07-08,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
12,9545,Burnham Beach Hse Retreat,31306,Wendy,2009-12-08,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
13,10760,CASAMIGOS,38596,Debra,2009-09-14,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
14,11374,Budget hotel in Los Angeles,42220,Searockinn,2009-09-29,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
15,11511,Craftsman Duplex-Hollywood!,40884,Suzan And Michael,2009-09-24,t,f,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
16,11877,Le petit bungalow private entrance + bikes in VB,30484,Pascalou,2009-08-08,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
17,12320,1930's Spanish Duplex on 9th St,47757,Lori,2009-10-22,t,f,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
18,13776,Burnham Beach Cottage 1,31306,Wendy,2009-12-08,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
19,14098,"Glamour Calls Us A Haven of Peace, Modern Arch...",55411,HankBubbie,2009-11-18,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [31]:
amenity_columns = ['ac', 'heating', 'Outdoor Amenities', 'Entertainment', 
                   'Kitchen and Dining', 'Safety and Security', 
                   'Laundry Services', 'Child-Friendly Amenities']

# Replace 1 with 'Yes' and 0 with 'No' for specific columns
df[amenity_columns] = df[amenity_columns].replace({1: 'Yes', 0: 'No'})

# Fill any remaining NaN values with 'No' to indicate amenities not offered
df[amenity_columns] = df[amenity_columns].fillna('No')

# Optionally, print the updated DataFrame to verify the changes
df.head()

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,State,neighbourhood_group,...,outdoor,smart_home_and_security,ac,heating,Outdoor Amenities,Entertainment,Kitchen and Dining,Safety and Security,Laundry Services,Child-Friendly Amenities
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,2008-06-27,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1,2708,Beautiful Furnish Mirrored Mini-Suite w/ Firep...,3008,Chas.,2008-09-16,t,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [32]:
properties_without_pool = df[df['pool_and/or_hot_tub'] == 'No'].shape[0]

# Display the result
print(f"Number of properties that don't have a pool: {properties_without_pool}")

Number of properties that don't have a pool: 112078

In [35]:
properties_without_pool_df = df[df['pool_and/or_hot_tub'] == 'No']

# Display the resulting DataFrame
properties_without_pool_df

,id,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,instant_bookable,State,neighbourhood_group,...,outdoor,smart_home_and_security,ac,heating,Outdoor Amenities,Entertainment,Kitchen and Dining,Safety and Security,Laundry Services,Child-Friendly Amenities
2,2732,Zen Life at the Beach,3041,Yoga Priestess,2008-09-17,f,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,2008-09-25,f,t,t,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,5728,Tiny Home in Artistic Oasis near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
5,5729,Zen Room with Floating Bed near Venice and LAX,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
6,5843,Artist Oasis near Venice Beach w/ Beautiful Ga...,9171,Sanni,2009-05-03,t,t,f,California,Los Angeles,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158243,46036787,Quiet clean and comfortable room :,65832379,Juliet,2016-05-04,f,t,f,Washington,Seattle,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
158244,46036925,Quiet clean and comfortable room .:,65832379,Juliet,2016-05-04,f,t,f,Washington,Seattle,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
158245,46037073,Quiet clean and comfortable room .::,65832379,Juliet,2016-05-04,f,t,f,Washington,Seattle,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
158246,46037172,Quiet clean and comfortable room :::,65832379,Juliet,2016-05-04,f,t,f,Washington,Seattle,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
158247,46037518,Quiet clean and comfortable room :::.,65832379,Juliet,2016-05-04,f,t,f,Washington,Seattle,...,,,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [ ]:
# Load the existing Excel file
excel_file_path = "path/to/your/excel_file.xlsx"
df = pd.read_excel(excel_file_path)

# Make your changes
df['New_Column'] = df['Existing_Column'] * 2  # Example operation

# Save the updated DataFrame back to the same Excel file
df.to_excel(excel_file_path, index=False)

print(f"Excel file updated successfully at {excel_file_path}")